@model IEnumerable<PowerRankingOrganizer.Dtos.Tournament>

@{
    ViewBag.Title = "Tournament List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="header-text">Tournament List</h2>


<table class="table table-bordered table-hover" id="tournament-table">
    <thead id="tournament-head">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.game_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tournament_type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.full_challonge_url)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.live_image_url)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.completed_at)
            </th>
            <th>Tournament Details</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.game_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.tournament_type)
                </td>
                <td>
                    <a href="@item.full_challonge_url" target="_blank">Challonge Link</a>
                </td>
                <td>
                    <a href="@item.live_image_url" target="_blank">Image Link</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.completed_at)
                </td>
                @if (User.Identity.IsAuthenticated)
                {
                    <td>
                        @Html.ActionLink("Details", "Details", new { item.id }) |
                        @Html.ActionLink("Delete", "Delete", new { item.id })
                    </td>
                }
                else
                {
                    <td>
                        @Html.ActionLink("Details", "Details", new { item.id }) |
                        @Html.ActionLink("Delete", "Delete", new { item.id })
                    </td>
                }
                
            </tr>
        }
    </tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function() {
            $('#tournament-table').DataTable({
                "order": [[5, 'desc']]
            });
        });
    </script>
}
